body {
    overflow: hidden;
    font-family: Arial;
}

.katex-input-container {
    border-color: black;
    border-style: solid;
    width: 99%;
    overflow: scroll;
    max-height: 10rem;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 11%;
    height: 5rem;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    overflow-x: scroll;
    overflow-y: scroll;
    display: none;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-top: none;
    align-items: center;
    height: 22rem;
    max-height: 22rem;
}

.katex-input {
    vertical-align: middle;
    height: 8rem;
    max-height: 8rem;
    width: 100%;
    display: table-cell;
    font-size: 1.3rem;
    padding: 10px;
}

.btn-k {
    text-align: center;
    vertical-align: middle;
    width: 6.8rem;
    height: 5rem;
    font-size: small !important;
}

.ktx-editor {
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}

.katex { font-size: 1.25em !important; } 